body {
  font-size: small;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
#header {
  background-color: #004c9a;
  background-repeat: repeat-x;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0376a8), color-stop(100%, #004c9a));
  background-image: -webkit-linear-gradient(top, #0376a8, #004c9a);
  background-image: -moz-linear-gradient(top, #0376a8, #004c9a);
  background-image: -o-linear-gradient(top, #0376a8, #004c9a);
  background-image: -ms-linear-gradient(top, #0376a8, #004c9a);
  background-image: linear-gradient(top, #0376a8, #004c9a);
  height: 40px;
}
#header div.title {
  padding: 8px 12px;
  font-size: 150%;
  color: #FFF;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px;
  float: left;
}
#header a {
  color: #FFF;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#header div.user {
  padding: 12px 1em;
  float: right;
  color: #FFF;
}
#header div.user span {
  font-weight: bold;
}
#header-inner {
  width: 820px;
  margin: 0 auto;
}
#container {
  overflow: hidden;
  width: 820px;
  margin: 0 auto;
}
#sidebar {
  float: left;
  width: 210px;
}
#sidebar div.title {
  font-weight: bold;
  margin: 1em 0 1ex;
  font-size: 120%;
}
#content {
  margin-left: 220px;
  padding: 20px;
  border-left: 1px solid #eee;
}
#footer {
  text-align: center;
  color: #888;
  margin-top: 1ex;
  border-top: 1px solid #ddd;
  padding: 3px 12px;
  clear: both;
}
/*** Navigace. ***/
div.task-lists ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
div.task-lists li {
  display: block;
  margin: 1ex;
}
div.task-lists a {
  text-decoration: none;
  display: block;
  color: #666;
  border-bottom: 1px solid #ddd;
  font-size: 125%;
  padding: 0 1ex 1px;
}
div.task-lists a:hover {
  color: #333;
  border-bottom-color: #555;
}
/*** Titulky ***/
h1 {
  color: #404040;
  border-bottom: 1px solid #cacaca;
  font-size: 200%;
  padding: 0 0 4px;
  margin: 0 0 1em;
}
h2 {
  font-size: 150%;
  margin: 1.5em 0 1ex;
}
/*** Odkazy ***/
a {
  color: #0069D6;
}
a:hover {
  color: #004382;
}
/*** Tabulky ***/
table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 1.4em;
}
thead th {
  font-size: 112%;
  border-bottom: 1px solid #aaa;
}
th, td {
  padding: 5px 6px 4px;
}
td {
  border-top: 1px solid #ddd;
}
tr.even {
  background-color: #FAFAFA;
}
tr.odd {
  background-color: #F2F2F2;
}
table.tasks tr.done {
  color: #888;
  text-decoration: line-through;
}
table.tasks .created {
  font-size: smaller;
  width: 70px;
  text-align: right;
}
table.tasks .tasklist {
  width: 65px;
}
table.tasks .user {
  font-size: smaller;
}
table.tasks .action {
  width: 75px;
}
tr.notice td {
  text-align: center;
  border: 1px solid #c0c0c0;
  background-color: #f6f6f6;
  padding: 1em;
}
/*** Formuláře ***/
fieldset {
  border: 1px solid #bbb;
  border-width: 1px 0;
  margin: 1.5em 0;
  padding: 1ex 0;
}
legend {
  font-weight: bold;
  margin-left: 1em;
}
label {
  font-weight: bold;
}
form div.pair {
  margin-bottom: 1ex;
}
form div.pair label {
  display: block;
  width: 130px;
  text-align: right;
  float: left;
  line-height: 2;
  vertical-align: middle;
}
form div.pair div.input {
  margin-left: 150px;
}
form div.pair div.input label {
  width: auto;
  display: inline;
  float: none;
  line-height: normal;
}
form ul.error {
  margin: 0;
  padding: 0;
  list-style: none;
}
form ul.error li {
  display: block;
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #FBC2C4;
  background: #FBE3E4;
  color: #8a1f11;
}
input[type=checkbox] {
  vertical-align: middle;
}
.task-form input[type=submit] {
  float: right;
}
/*** Flash zprávičky ***/
div.flash {
  padding: .8em;
  margin-bottom: 1em;
  border: 2px solid #ddd;
}
div.flash.success {
  background: #E6EFC2;
  color: #264409;
  border-color: #C6D880;
}
div.flash.info {
  background: #FFF6BF;
  color: #514721;
  border-color: #FFD324;
}
div.flash.error {
  background: #FBE3E4;
  color: #8a1f11;
  border-color: #FBC2C4;
}
/*** Ikonky ***/
.icon {
  padding-left: 24px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}
.icon.tick {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNpi/P//PwNdgVsnw38QJkuzYxvD/3c/JoIxiE2y5idfmv/P2sQAxk+/NoJdwkKs5sV5zQzbj9QyMLAyMDACxb7/f4eqyB1omjsWvzkBNd/+XPR/1h6G/zOBePZehv+XPsX/d4J4wRiu6MqnOCCGS0DEW4GKPyb8n30Q6OwDQM2HQJoTUDWDbD37we//7GNABUcZ/p967//foZkBjEFskPgsoPgcIH36gz+qZiBggfuHmYHhH1Dqwq2NDLVpNmBJEJuBCehnIFZTsWOomLaRYV8VgwlQ6izMAJB+Y5c2hjOlqboMj59cZvj3j4EBlrYYgbJMQM2yMroMXbMvM+xF0wwCQHsZnt/by7DlheCrNAd7WYYfPz4x/AfZCpRhBsaRiIQsw4Q5t7FqRgcgl/xf+Zz7/9wbDGAMYrug+ZkQMHYFalj9khuMXUnUDDfEExgznp3kaYYbQqxmRkqzM0CAAQBWbMG1YQFlxwAAAABJRU5ErkJggg==");
}
.icon.user {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAfNJREFUeNqcU89rE0EYfZNsto1rbdUmofUgmoOWQIm/EOtB7aUIpfRWL148eVOwf0FO4g8oWIpHvRhPQvHeixSRWooptVVIrEnRpkk2+yM7s7PdzbpJKIaykeCD4YNv3nvzzcz3Edd1cQBCSDM+unk8TgQsRwfDMZO7kGVeDAXd60+XqtnGfrsmAB/sO1i8cmkwlkyexbmROELSQEyrYdGP62vQEyYJUZQQEE8gGIogQCRYNhJdG1jcxs8dDdQSMXI5gYnpMTi240eF4JekhokHC8/BC79RlVVIx4JwLIauK+CmlUapBKWiQJUVL8oQROdl1wYr9pnU8koeVNfADB1beQOvM/VUVwYTL7bTY6m1TRa9he8/dvFp7RsKQhL332m/bs9vv/3nG9x4/GXvzgUpcvV8P4YqFF9zDo6GOIZ6dzE13oePG3zGfJIZ96hRX4PhvkBk9FQY6XWGexcnce3uJEYpxUaR4U2GY/r0Eei6Gel4harKkC1zr/NqmFsqATZD3Vvp9ToqZR25sgXDoJ2vUFIoCvI+NI2h8e0zr4wWyTtGCBLkK71g1OxsUCiqWM1VcXJAQrPdD1qetObkc1YBY7yzAc19ePi+Rp85bivfpm/CK8J291Zngam/A3hoGvu9EG/THEaDnPU0qq/B/+CPAAMAQ2jaR3QERSQAAAAASUVORK5CYII=");
}
.icon.edit {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXxJREFUeNqU0s1LAkEYBvDHsK4FJXmQOmR1iaLyov9Ah4g+Dt3qVEJU9xCkIFAp6LAlBIYQ3oMIukhKSUaFH+mlukggRWuipeLX2jS7ZGDaMg3swszu79l93xngH+Nhy0eitjNSnRNC0MSK161W0jrUC9KlRnTb8xPCFGCy7JKVpWXsh53I81nEsxUEzUeEKeDaPEJMc33g7E6Mj03A/XmOcqYMIclLzxVy2G/WE/20CkjEEWtZgOuWYHBAC++VF9ymTUd7EFDI4hk1wL8BKXplXhFpW8VhSIEdy4aOvhIQm6iQx0mKU0D2na4W4AprML8XlPCfu1CPP2ihAg4i/TW44S40xmU47rRY5Hx1uCbgUgYbuYuGWBxK8eZb0xHDlOq7YWlmLAUkjidJx7AeeHQDSRqQy9H/EpiwVAIpVmhMJ0rds0BRoF8uMmMp4OS+HaeeJyhLeUBjgCPUw4ylEmJ8CS/PN9Cmm1EoKGG0+5lx9SiP/lpjxuJB+hJgAG9My8C+hsJpAAAAAElFTkSuQmCC");
}
